{% extends "base.html" %}

{% block page_content %}
<img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
<div class="profile-header">
    <h1>{{ user.username }}</h1>
    {% if user.name or user.location %}
    <p>
        {% if user.name %}{{ user.name }}{% endif %}
        {% if user.location %}
            from <a href="http://map.google.com/?q={{ user.location }}" target="_blank">
            {{ user.location }}</a>
        {% endif %}
    </p>
    {% endif %}
    {% if current_user.is_administrator() %}
        <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
    {% endif %}
    {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
    <p>
        Member since {{ moment(user.member_since).format('LL') }}.
        Last seen {{ moment(user.last_seen).fromNow() }}
    </p>
    <p>
        {% if user == current_user %}
            <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">
                Edit Profile
            </a>
        {% endif %}
        {% if current_user.is_administrator() %}
            <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', user_id=user.id) }}">
                Edit Profile [Admin]
            </a>
        {% endif %}
    </p>
</div>
<h3>Posts by user {{ user.username }}</h3>
{% include "_posts.html" %}
{% endblock %}
