{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky - Login{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Login</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
    <br>
    <p>Forgot password? <a href="{{ url_for('auth.reset_password_request') }}">Click here for reset password</a></p>
    <p>New User? <a href="{{ url_for('auth.register') }}">Click here for register</a></p>
</div>
{% endblock %}
